<section id="left">
  <nav class="nav">
    <h2 class = "title">Bloc Chat</h2>
    <div class="new-room-container">
      <a class="btn btn-default push" ng-click="Room.open('sm')">New Room</a>
    </div>
  </nav>

  <div class="rooms" ng-repeat="room in Room.rooms">
      <a class='roomName' href="#" ng-click="Room.getMessages(room.$id)">{{room.roomName}}</a>
      <!--<div ng-repeat="room in Room.rooms">
        <button type="button" class="btn btn-light" ng-click= "Room.room = room; Room.showRoom(Room.room.$id)">{{room.$value}}</button>
      </div>
  -->
  </div>
</section>


<section id="right">
    <div class="messages-header">
            <h3>{{Show}}</h3>
        </div>
        <div class="messages-body" ng-repeat="message in Room.messages">
            <div class="username">{{ message.username }}</div>
            <div class="user-message">{{ message.content }}</div>
            <div class="timestamp">{{ message.timestamp | date : "shortTime" }}</div>
        </div>
</section>
